{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Verse of the day</h5>
    <p class="card-text">
    <div id="ourmanna-verse">Loading...</div>
    <script src="https://beta.ourmanna.com/verses/api/js/" type="text/javascript"></script>
    </p>
    <a href="https://www.youversion.com/" target="_blank" class="btn btn-primary">Online Bible</a>
  </div>
</div>
<br>
<h1 align="center">Prayer Requests</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in notes %}
  <li class="list-group-item">
    {{ note.data }}
    {% if note.user_id == user.id %}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}